body {
  color: #4804f5;
  margin: 0;
  text-align: center;
  font-family: 'Georgia', serif;
}

h1 {
  color: #000b0b;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Blacker', serif;
}

h2 {
  color: #2b0ee6f7;
  font-family: 'Recoleta', serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.profile1{
  width:30%;
  border-radius: 10%;
}

h3 {
  color: #7777e4;
  font-family: 'Georgia', serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a:hover {
  color: #14ecec;
}

.img2{
  width: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 50%;
  margin: auto;
}

.message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #000909;
  font-size: 0.75rem;
  padding: 20px 0;
}

.img3-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 25%;
}

.img4-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.top-box {
  background-color: #7e5ae1;
  position: relative;
  padding-top: 100px;
}
.middle-box {
  margin: 100px 0;

}
.bottom-box {
  background-color: #977cbb;
  padding: 50px 0 20px;
}

.button{
  background: #5014f5;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Georgia', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #905ef4;
}
a{
  color: #000909;
  font-family: 'Georgia', serif;
  margin: 10px 20px;
  text-decoration: none;
}
